body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.color-picker {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
button#apply {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button#copy {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button#copy:hover {
    background-color: #45a049;
}
button#apply:hover {
    background-color: #45a049;
}


input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
